<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review List</title>
</head>
<body>
    <h1>reviewss</h1>
    <a href="{% url 'review_create' %}">Add review</a>
    <ul>
        {% for review in reviews %}
            <li>
                {{ review.title }} by {{ review.author }} 
                <a href="{% url 'review_update' review.pk %}">Edit</a>
                <a href="{% url 'review_delete' review.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>